[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[requires]
python_version = "3.6"
[packages]

django = "*"
"django-environ" = "*"
whitenoise = "*"
"psycopg2" = "*"
pillow = "*"
"django-db-file-storage" = "*"
"base58" = "*"
"django-fullurl" = "*"
uwsgi = "*"
"django-sass-processor" = "*"
"django-compressor" = "*"
libsass = "*"


[dev-packages]

"flake8" = "*"
honcho = "*"