{% load static %}
{% load fullurl %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if not debug %}
    <meta http-equiv="refresh" content="0; {{ link.destination }}" />
    {% endif %}

    <meta name="og:title" content="{{ link.title }}" />
    {% if link.image %}
    <meta name="og:type" content="image" />
    <meta name="og:image" content="{% fullurl 'db_file_storage.get_file' %}?name={{ link.image.name }}" />
    {% else %}
    <meta name="og:type" content="object" />
    {% endif %}
    <meta name="og:description" content="{{ link.description }}" />

    {% if link.image %}
    <meta name="twitter:card" content="summary_large_image" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:title" content="{{ link.title }}" />
    <meta name="twitter:description" content="{{ link.description }}" />
    {% if link.image %}
    <meta name="twitter:image" content="{% fullurl 'db_file_storage.get_file' %}?name={{ link.image.name }}" />
    {% endif %}
    <link rel="stylesheet" href="{% sass_src 'css/_master.scss' %}" media="all" charset="utf-8">
    <title>{{ link.title }}</title>
  </head>
  <body>
    <h1>{{ link.title }}</h1>
    {% if link.image %}
    <img src="{{ link.image.url }}" />
    {% endif %}
    <p>{{ link.description }}</p>

  </body>
</html>
